:root {
    --main-bg-color: #fff;
    --main-text-color: #000;
    color-scheme: light dark;
}

html,
body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 1.2rem;
    border: 0;
}

body {
    background-image: url(https://peiseka.com/Upload/mihuan/thumb/mihuan78.jpg);
    transition: background-image 2s;
    height: calc(100vh - 50px);
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

@media (max-width: 500px) {
    html,
    body {
        font-size: 10px;
    }
    .left {
    }
    .works {
        display: flex !important;
        flex-direction: column !important;
    }
}

.left {
    flex: 3;
    text-align: center;
    background-color: light-dark(rgba(255, 255, 255, 0.7), rgba(3, 3, 3, 0.7));
    color: light-dark(rgba(3, 3, 3), rgba(255, 255, 255));
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    padding: 1.2rem;
}

.avatar-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.name {
    font-size: 2.4rem;
    text-align: center;
    padding: 0.2rem 0;
    font-weight: 600;
}

.social-medias {
    padding-top: 1.2rem;
    cursor: pointer;
}

.intro {
    margin: 0.2rem 0;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    padding: 0 20.2rem;
    white-space: nowrap;
}

.right {
    flex: 9;
    padding: 1.2rem 0;
    height: 20rem;
    overflow-y: auto;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-bottom: 1.2rem;
}
.tag {
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    background-color: light-dark(rgba(255, 255, 255, 0.7), rgba(3, 3, 3, 0.7));
    color: light-dark(rgba(3, 3, 3), rgba(255, 255, 255));
    cursor: pointer;
}
.tag:hover {
    color: #00b8a9;
}

.types {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0;
    gap: 0.6rem;
}

.type {
    padding: 0.4rem 0.8rem;
    background-color: light-dark(rgba(255, 255, 255, 0.7), rgba(3, 3, 3, 0.7));
    color: light-dark(rgba(3, 3, 3), rgba(255, 255, 255));
    cursor: pointer;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    flex: 1;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.type:hover {
    color: #00b8a9;
}

.works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.work {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40rem;
    border-radius: 1.2rem;
}
